/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";   

#blue{
    color: rgb(13, 110, 161);
}

#red{
    color: red;
}

#gold {
    color: rgb(211, 185, 34);
}

#green {
    color: rgb(94, 216, 57);
    content: &#9745;
}


//// maybe remove
.menu {
  padding-top: 20px;
  padding-right: 30px;
  text-align: right;
  word-spacing: 20px;
  font-size: 15px;
  font-family: Bookman, URW;
  position: sticky;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  top: 0;
}

.status-show{
    position: relative;
    left: -25%;
    transform: rotate(-20deg);
    font-family: Snell Roundhand, cursive; 
    font-weight: bold;
    pointer-events:none;
    padding-top: 10px;
}

