#todo {
  background-image: url('trees.jpg');
  background-attachment: fixed;
  min-height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .noExpiry{
    padding-left: 25%;
    padding-top: 20px;
    padding-bottom:20px;
    color: white;

    ul{
      font-size: 17px;
      color: black;
    }

    li{
      color: rgb(227, 160, 125);
    }
  }
}

.head {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Snell Roundhand, cursive;
  padding-top: 10px;
  padding-bottom: 20px;
}

#todo .calendar {
  border-collapse: collapse;
  width: 75%;
  margin-left:15%; 
  margin-right:15%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid rgba(89, 88, 88, 0.633);
  }

  th {
    background: black;
    color: white;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: rgba(255, 255, 255, 0.708);
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: rgb(235, 209, 81); }
}

#todo #month {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  font-size: 22px;
  color: rgb(255, 255, 255);

  a {
    text-decoration: none;
    padding: 10px;
    color: rgb(255, 255, 255);
  }
}

#todo ul {
  font-size: 11px;
  padding-left: 20px;
}

#strike {
  text-decoration: line-through;
}

