body, html {
    height: 100%;
}

.button{
    padding: 10px 16px;
    //border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.addTodo {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.addTodo:hover {
    background-color: white;
    color: black;
}

.login{
    position: fixed;
    top: 50%;
    left: 25%;
    margin-top: -150px;
    width: 50%;
    height: 30%;
    display: grid;
    place-items: center;
    font-family: Impact, fantasy;
    color: white;

    #welcome{    
        font-size: 70px;
        font-family: Noto Sans, sans-serif;
        font-weight: bold;
    }

    #toContinue{
        font-size: 20px;
    }
}

.background-login{
    background-image: url('trees.jpg');
    background-attachment: fixed;
    min-height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  

.background-todo{
    background-image: url('trees.jpg');
    background-attachment: fixed;
    min-height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Bookman, URW;
    color: black;
}  

.search-box {
    margin-top: 20px;
    margin-bottom: 10px;
}

.displayTodo{

    td, th{
        border: 1px solid rgba(89, 88, 88, 0.633);
        padding-left: 8px;
    }

    td {
        background: rgba(255, 255, 255, 0.708);
        color: black;
        font-size: 16px;

    }

    th {
        background-color: black;
        color: white;
        border-top: none;
    }

    a {
        color: black; 
    }

    padding-bottom: 40px;
}

