body, html {
    height: 100%;
}

.background-index{
    background-image: url('table.jpg');
    background-attachment: fixed;
    min-height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: Bookman, URW;

    color: black;
}  

#font-colour{
    color: black;
}

.translucent {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.701);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    display: block;
}

.search-box {
    padding: 20px;
}
