body, html {
    height: 100%;
}

.login{
    position: fixed;
    top: 50%;
    left: 25%;
    margin-top: -150px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.537);
    width: 50%;
    height: 25%;
    display: grid;
    place-items: center;
    font-family: Impact, fantasy;
    background: -webkit-linear-gradient(rgb(135, 127, 36), rgb(46, 213, 107));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.background-index{
    background-image: url('table.jpg');
    background-attachment: fixed;
    min-height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: Bookman, URW;

    color: black;
}  

#font-colour{
    color: black;
}

.translucent {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.701);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    display: block;
}

.search-box {
    padding: 20px;
}
