.menu {
  padding-top: 5px;
  padding-right: 30px;
  font-size: 15px;
  width: 100%;
  top: 0;
  background-color: rgb(31, 31, 31);
  z-index: 1;
  position: sticky;
  font-family: Bookman, URW;
}

.status-show{
    position: relative;
    left: -25%;
    font-family: Snell Roundhand, cursive; 
    font-weight: bold;
    pointer-events:none;
    padding-top: 10px;
}

#blue{
    color: rgb(13, 110, 161);
}

#red{
    color: red;
}

#gold {
    color: rgb(211, 185, 34);
}

#green {
    color: rgb(94, 216, 57);
    content: &#9745;
}

#white{
    color: white;
}